<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>HTTP/2 Simulator</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
		  <% var sum1=0, sum2=0;
		  for(var i=0;i<data.length;i++){
			  sum1+=data[i].http2_time;
			  sum2+=data[i].http1_time;
		  }
		  sum1/=data.length;
		  sum2/=data.length;%>

        var data = google.visualization.arrayToDataTable([
          ['Protocol Type', 'Speed'],
          ['HTTP/2', <%=sum1%>],
          ['HTTP/1.1', <%=sum2%>]
        ]);

        var options = {
          title: 'Average Speed',
          is3D: true,
          backgroundColor: '#EEEEEE'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
      }
    </script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-xlarge.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><a href="/">HTTP/2 Simulator</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/rank">Rank</a></li>
						<li><a href="/contactus">Contact us</a></li>
					</ul>
				</nav>
			</header>
		<!-- Main -->
			<section id="top">
				<div id="piechart_3d" style="width: 900px; height: 300px;"></div>
			</div>
			</section>
			<section id="ranks">
				<div class="table-wrapper">
					<h2 id="perf_label">Top performance</h2>

					<table id="perf_table" class="alt">
							<thead>
								<tr>
									<th>Rank</th>
									<th>URL</th>
									<th>HTTP/2</th>
									<th>HTTP/1.1</th>
									<th>Percentage</th>
									<th>Result Page</th>
								</tr>
							</thead>
							<tbody>
							<%for(var i=1;i<=data.length;i++){%>
								<tr>
									<td><%=i%></td>
									<td><%=data[i-1].domain%></td>
									<td><%=data[i-1].http1_time/1000%>Sec</td>
									<td><%=data[i-1].http2_time/1000%>Sec</td>
									<td><%=data[i-1].performance%></td>
									<td><a href="http://www.h2perf.org/result/<%=data[i-1].path2%>">Link</a></td>
								</tr>
							<%}%>
							</tbody>
						</table>
					</div>
			</section>
	</body>
</html>